.modal-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .modal {
    padding: 2rem 1rem;
    border-radius: 1rem;
    background: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;

    .button-close {
      position: absolute;
      top: 0.5rem;
      right: 0rem;
    }

    .content {
      flex: 1;
    }
  }
}
